* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.div {
  width: 65%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: rgba(172, 255, 47, 0.113);
  border: 1px solid green;
  border-radius: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: greenyellow;
  border: 1px solid green;
  border-radius: 10px;
  transition: transform ease-in 0.1s;
}
.btn:hover {
  background-color: rgb(131, 212, 10);
  transform: scale(1.1);
}
.active {
  background-color: red;
}
.active:hover {
  background: red;
}

.btn-try {
  width: 200px;
  height: 50px;
  background-color: green;
  border: 1px solid green;
  border-radius: 10px;
}
