* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template: repeat(10, 120px) / repeat(12, 1fr);
}

.grid > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: rgb(248, 245, 66);
    grid-column: 1 / 4;
}
.menu {
    background-color: rgb(170, 100, 235);
    grid-column: 4 / 13;
}
.header {
    background-color: rgb(165, 230, 208);
    grid-column: 1 / -1;
    grid-row: 2 / 6;
}
.content {
    background-color: blueviolet;
    grid-column: 1 / 6;
    grid-row: 6 / 10;
}
.content1 {
    background-color: bisque;
    grid-column: 6 / 9;
    grid-row: 6 / 8;
}
.image {
    background-color: rgb(226, 115, 226);
    grid-column: 9 / 13;
    grid-row: 6 / 8;
}
.extra {
    background-color: dodgerblue;
    grid-column: 6 / 13;
    grid-row: 8 / 10;
}
.footer {
    background-color: lightskyblue;
    grid-column: 1 / -1;
    grid-row: 10 / 11;
}